html, body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

h2 {
  text-align: center;
}

h4 {
  text-align: center;
}
/*header*/

header {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  padding: 0px 10px;
}

header nav {
  flex-grow: 1;
  text-align: right;
  padding-right: 10px;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
  flex-wrap: wrap;
  justify-content: flex-end;
}

a {
  color: seashell;
  text-decoration: underline;
  align-items: center;
}

.logo {
  height: 50px;
}

/*mission*/

.mission {
  display: flex;
  justify-content: center;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/Tea Cosy/resources/images/img-mission-background.jpg");
  height: 700px;
  width: 1200px;
  margin: 0px auto;
  position: relative;
  top:30px;
  flex-direction: column;
}
.text {
  display: inline-flex;
  text-align: center;
  flex-direction: column;
  background-color: black;
  line-height: 0px;
}

/*tea*/

.container {
  width: 1200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  top: 50px;
  margin: 0px auto;
}

.gallery {
  width: 1000px;
  margin-left: 100px;
}

.teas {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item{
  text-align: center;
  line-height:0px;
}

.item img{
  width: 300px;
  height: 200px;
}

/*locations*/

#locations {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  height: 500px;
  position: relative;
  padding-top: 50px;
  position: relative;
  top: 50px;
  background-image: url("/Users/Sally/Documents/Code Academy Projects/Tea Cosy/resources/images/img-locations-background.jpg");
}

#locations .box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 80px;
}

#locations .box .location {
  background-color: black;
  width: 300px;
  max-height: 300px;
  opacity: 1;
  padding: 10px 10px;
}

.location h4 {
  font-weight: normal;
}

h3 {
  text-align: center;
}

/*contact*/

#contact {
  position: relative;
  top: 80px;
}

h5 {
  text-align: center;
}

.copyright {
  text-align: left;
  margin-left: 20px;
}
